body{
  margin: 0;
  display: grid;
  grid-template-columns: minmax(16rem,25%) 1fr;
  position: relative;
}

aside{
  position: sticky;
  background-color: #efefef;
  height: 100vh;
  padding: 0 1rem;
  color: rgb(93, 93, 93);
  display: flex;
  flex-direction: column;
}

.logo{
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.logo span {
  font-style: italic;
}

.project{
  padding: 0 0 0.5rem 0;
  gap: 0.5rem;
  font-weight: bold;
  border-style: solid;
  border-width: 0 0 0.1rem 0;
  border-color: lightgray;
  display: flex;
  align-items: start;
}

.icon svg{
  height: 1.2rem;
}

.lists{
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.list-remove{
  margin-left: auto;
  background-color: inherit;
  display: block;
  width: fit-content;
  padding-top: 0.2rem;
}

.list-remove:hover{
  background-color: inherit;
}

.list-remove svg{
  height: 0rem;
}

.list:hover .list-remove svg{
  height: 0.8rem;
}

.list , .new-list{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.new-list{
  margin-top: auto;
}
aside button{
  display: flex;
  align-items: center;
  width: 100%;
  border-style: none;
  cursor: pointer;
}

aside button:hover{
  background-color: lightgray;
}

.new-list button{
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.list{
  border-radius: 0.3rem;
}

.selected{
  background-color: #469ffc;
  color: white;
  font-weight: bold;
}

.selected:hover{
  background-color: #469ffc;
}

/* main styles */
main{
  min-width: 38rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.title-icon{
  padding-top: 0.15rem;
}

.title-icon svg{
  height: 2rem;
}

.main-title{
  margin-top:5rem;
  display: flex;
  align-items: flex-start;
  font-size: 1.8rem;
  font-weight: bold;
  gap: 1rem;
}

.main-description{
  color: gray;
  font-style: italic;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
  border-width: 0 0 0.1rem 0;
  border-color: lightgray;
  border-style: solid;
}

#new-item{
  align-self: flex-end;
  background-color: #469ffc;
  border-radius: 2rem;
  border-style: none;
  padding: 1rem 1rem 0.8rem 1rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  position: sticky;
  bottom: 1rem;
  z-index: 1;
  box-shadow: 0.2rem 0.15rem 0.3rem -0.0rem rgba(0,0,0,0.4);
  margin-top: auto;
  cursor: pointer;
}

#new-item svg{
  height: 1.3rem;
}

.task{
  display: grid;
  grid-template-columns: max-content 1fr 8rem 3rem max-content;
  margin-top: 1rem;
  margin-left: 0.5rem;
  padding: 0 0.3rem 0.8rem 0.5rem;
  border-style: solid;
  border-width: 0 0 0.1rem 0;
  border-color: #efefef;
}

.task-check{
  transform: scale(1.5);
}

.task-title{
  border: none;
  background-color: inherit;
  font-size: 1rem;
  padding: 0 0 0 0.7rem;
  color: inherit;
}

.task-due-date button{
  border: none;
  background-color: inherit;
  color: inherit;
}

.task-priority{
  border: none;
  background-color: inherit;
  padding: 0 0 0 1rem;
  font-weight: bold;
  color: inherit;
}

.remove{
  background-color: rgb(240, 23, 23);
  border: none;
  border-radius: 0.4rem;
  padding: 0.2rem 0.3rem 0.1rem 0.3rem;
}

.remove svg{
  height: 1rem;
}

.task[data-priority="2"]{
  color: red;
}

.task[data-priority="1"]{
  color: orange;
}


/* modal */
.modal, .task-modal{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: max(30%,12rem);
  gap: 0.5rem;
  border-radius: 0.7rem;
}

.form input{
  margin-bottom: 0rem;
  padding: 0.5rem 1rem;
}

.form textarea{
  padding: 0.5rem 1rem;
  resize: none;
}

.form button{
  padding: 0.5rem 1rem;
  background-color: #469ffc;
  color: white;
  border-radius: 0.3rem;
  border-style: none;
  margin-top: 0.5rem;
  font-weight: bold;
  align-self: flex-start;
}

#error{
  color: red;
  font-size: 0.8rem;
}

.hidden{
  display: none;
}